@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  height: 100vh;
  width: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text {
  margin: 0;
  text-align: center;
}

.loader {
  animation: spin 1s linear infinite;
}

.img-container {
  position: relative;
}

@keyframes fallAndBounce {
  0% {
    transform: rotate(0deg);
  }
  2% {
    transform: rotate(5deg);
  }
  4% {
    transform: rotate(10deg);
  }
  7% {
    transform: rotate(75deg);
  }
  8% {
    transform: rotate(65deg);
  }
  9% {
    transform: rotate(75deg);
  }
  50% {
    transform: rotate(75deg);
  }
  70% {
    transform: rotate(75deg);
  }
  90% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0deg);
  }
}

.q-mark {
  position: absolute;
  height: 25px;
  width: 25px;
  margin: 0;
  top: 5px;
  right: 42px;
  transform-origin: 50% 100%;
  animation: fallAndBounce 4s infinite;
}

.btn {
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #2e9f48;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #4d8a1c;
  text-decoration: none;
}

.idea-text {
  font-size: 2.5rem;
}
